html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: "DM Mono", monospace;
    overflow: hidden;
}

div{
    border-radius: 20px;
    position: absolute;
    top: 75vh;
    height: 50vh;
    text-align: right;
    transition: all 0.2s;
    padding: 10px;
}
div:hover{
    top: 60vh;
}

.side{
    rotate: -90deg;
    margin-left: -20vw;
    margin-top: 40vh;
}

.shown{
    /* color: red; */
    --left: 0vw;
    top: 15vh;
    left: 20vw !important;
    text-align: center;
    width: 60vw !important;
    z-index: -1;
}
.shown:hover{
    top: 25vh; /* to make sure it doesn't move around */
}

.bubble{
    position: static;
    background: #ffffff66;
    border: inset;
    border-radius: 10px;
    max-height: fit-content !important;
    text-align: center;
}
