html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: "DM Mono", monospace;
    overflow: hidden;
}

div{
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 75vh;
    height: 24vh;
    text-align: right;
    transition: all 0.2s;
}
div:hover{
    top: 60vh;
}

.side{
    rotate: -90deg;
    margin-left: -20vw;
    margin-top: 40vh;
}

.shown{
    /* color: red; */
    top: 38vh;
    left: 38vw !important;
    text-align: center;
}
